/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, .modal-wrapper form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, .modal-wrapper input, .modal-wrapper select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, .modal-wrapper label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border-radius: 60px ;
}
#contact input[type="submit"]{
	width: 180px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* boutons  de filtres */
.flex-center {
	display: flex;
	justify-content: center;
}

.filters {
	margin-bottom: 30px;
}

.btn {
	height: 37px;
	padding: 0 20px;
	margin: 10px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: bold;
	color: #1D6154 ;
	border-radius: 60px;
	background-color: white;
	border-color: #1D6154 ;
}
.selected {
	color: white;
	background-color: #1D6154;
	border-color: none;
}
/* Mode édition */
.edition {
	width: 100%;
	height: 58px;
	background-color: black;
	align-items: center;
	gap: 20px;
}

.edition a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.projets {
	gap: 0 10px;
}

.edit {
	padding-top: 10px;
	gap: 10px;
}

/* Modal */
.modal {
	position: fixed;
	top : 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	justify-content: center;
}

.modal-wrapper {
	height: 688px;
	width: 630px;
	background: #FFFFFF;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 50px;
}

.content {
	display: flex;
	flex-direction: column;
	padding: 0 90px;
	justify-content: space-between;
	gap: 25px;
}
.modal-wrapper h3 {
	font-size: 26px;
	text-align: center;
	margin-bottom: 10px;
}

.modal-wrapper form {
	margin: 0;
}
.modal2-fill {
	padding: 0 15px;
}
.gallerie {
	display: flex;
	flex-wrap: wrap;
	height: 370px;
	gap: 25px 10px;
	margin-bottom: 20px;
}
.gallerie figure {
	position: relative;
	height: 102.57px;
	width: 76.86px;
}
.gallerie img {
	object-fit: fill;
	height: 100%;
	width: 100%;
	
}

.modal-wrapper input[type="submit"]{
	width: 237px;
}
.error {
	padding: 10px 115px;
	color: red;
	font-size: larger;
}

.delete {
	background: black;
	height: 17px;
	width: 17px;
	position: absolute;
	left: 55px;
	bottom: 80px;
	align-items: center;
}

.btn-modal {
	border-style: none;
	background: none;
}

.boutons {
	position: relative;
	height: 50px;
}
.close-modal {
	position: absolute;
	right: 30px;
	top: 15px;
}
.back-modal {
	position: absolute;
	left: 30px;
	top: 15px;
}

.add-picture {
	flex-direction: column;
	background: #E8F1F6;
	height: 169px;
	align-items: center;
	gap: 15px;
}

.edit a {
	text-decoration: none;
	color: black;
	font-size: 14px;
}
.line {
	height: 1px;
	background-color: #B3B3B3;
	margin-top: 30px;
}

input:disabled {
	background-color: #A7A7A7;
}

#file {
	width: 0.01px;
	height: 0.01px;
}

.dl-file {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px ;
	width: 180px;
	padding: 10px 0;
}

.miniature {
	height: 169px;
}

a {
	text-decoration: none;
	color: black;
}